# Python
backend/venv/
__pycache__/
*.pyc

# Environment
backend/.env

# Cloned repositories
backend/repositories/

# Node
frontend/node_modules/

# OS files
.DS_Store

backend/data/repositories/
data/repositories/
test-repo/
