
MONGODB_URL=mongodb+srv://arambhtiwari43:Ansh66@cluster0.chttfwv.mongodb.net/?appName=Cluster0

JWT_SECRET_KEY=reporyx_super_secret_key_2026_arambh_tiwari

JWT_ALGORITHM=HS256

JWT_EXPIRE_MINUTES=60
